<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../css/style.css" rel="stylesheet" type="text/css"/>
    <title>Корзина товаров</title>
</head>
<body>

<a href="/orders" style ="margin-left:20px;float:right;">
    <p><b>Заказы</b></p>
</a>
<a href="/cart" style ="margin-left:20px;float:right;">
    <p><b>Корзина</b></p>
</a>

<table>
    <thead>
    <tr>
        <th>Товар</th>
        <th>Цена (руб.)</th>
        <th>Количество</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td>
            <a th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        </td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getQuantity()}"></td>
        <td>
            <form th:action="@{'/cart/product/'+${product.getId()}+'/decrement'}" method="post" style="display:inline;">
                <button type="submit">-</button>
            </form>
            <form th:action="@{'/cart/product/'+${product.getId()}+'/increment'}" method="post" style="display:inline;">
                <button type="submit">+</button>
            </form>

            <form th:action="@{'/cart/product/'+${product.getId()}+'/delete'}" method="post" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<p>
    <b th:text="${'Общая цена: ' + #objects.nullSafe(totalPriceOfCart, 0) + ' руб.'}"></b>
</p>

<form th:action="@{'/cart/buy-order'}" th:if="${#objects.nullSafe(totalPriceOfCart, 0) != 0 }" method="post" style="display:inline;">
    <button type="submit" th:disabled="${balance < totalPriceOfCart}">Оформить заказ</button>
    <b th:text="${'Недостаточно средств для покупки'}" th:if="${!isPaymentNotAvailable and balance < totalPriceOfCart}"></b>
    <b th:text="${'Сервис оплаты недоступен'}" th:if="${isPaymentNotAvailable}"></b>
</form>

<hr>
    <a th:href="@{/products}">
        <b>Все товары</b>
    </a>
</hr>

</body>
</html>
