<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!-- Добавляем неймспейс для thymeleaf-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="./css/style.css" rel="stylesheet" type="text/css"/>
    <title>Витрина товаров</title>
</head>

<body>

<a href="/orders" style ="margin-left:20px;float:right;">
    <p><b>Заказы</b></p>
</a>
<a href="/cart" style ="margin-left:20px;float:right;">
    <p><b>Корзина</b></p>
</a>

<h1>Витрина интернет-магазина</h1>

<form>
    <p>
        <label for="sampleSearch" style="display:inline;">Поиск по названию/описанию: </label>
        <input type="search" id="sampleSearch" name="sampleSearch" th:value="${sampleSearch}"/>
        <button name="action">Найти</button>
    </p>
    <p>
        <form>
            <p>
                <label for="sorting" style="display:inline;">Сортировка: </label>
                <select name="sorting" th:value="${sorting}" id="sorting" onchange="this.form.submit()" style="display:inline;">
                    <option value="" th:selected="${sorting==''}">без сортировки</option>
                    <option value="price" th:selected="${sorting=='price'}">по цене</option>
                    <option value="title" th:selected="${sorting=='title'}">по алфавиту</option>
                </select>
            </p>
            <p>
                <label for="pageSize" style="display:inline;">Товаров на странице: </label>
                <select name="pageSize" th:value="${pageSize}" id="pageSize" onchange="this.form.submit()">
                    <option th:each="s : ${ {100, 50, 20, 10} }" th:value="${s}" th:text="${s}" th:selected="${s==pageSize}"></option>
                </select>
            </p>
        </form>
    </p>
    <p>
        <a th:if="${pageNumber > 1}" th:href="@{/products?sampleSearch={sampleSearch}&pageNumber={pageNumber}&pageSize={pageSize}&sorting={sorting}(sampleSearch=${sampleSearch}, pageNumber=${pageNumber-1}, pageSize=${pageSize}, sorting=${sorting})}" th:text="'<'+${pageNumber-1}"></a>
        <label th:text="'Страница: '+${pageNumber}" style="display:inline;margin-left:20px;margin-right:20px;"></label>
        <a th:if="${pageNumber < allPages}" th:href="@{/products?sampleSearch={sampleSearch}&pageNumber={pageNumber}&pageSize={pageSize}&sorting={sorting}(sampleSearch=${sampleSearch}, pageNumber=${pageNumber+1}, pageSize=${pageSize}, sorting=${sorting})}" th:text="${pageNumber+1}+'>'"></a>
    </p>
</form>

<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Картинка</th>
        <th>Описание</th>
        <th>Цена (руб.)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td>
            <a th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        </td>
        <td>
            <img th:src="@{'data:image/png;base64,'+${product.generateBase64Image()}}" alt="" width="250px" height="120px"/>
        </td>
        <td th:text="${product.getDescription()}"></td>
        <td th:text="${product.getPrice()}"></td>
    </tr>
    </tbody>
</table>

<form th:action="@{/products/add}" th:object="${product}" method="get">
    <button type="submit">Добавить товар</button>
</form>

</body>
</html>

